.sobre__nos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 10rem 5rem 10rem;

}

.sobre-nos__text{
    font-size: 16px;
    color: #8E2424;
    font-weight: 600;
    margin-bottom: 3rem;

}

.titulo{
    font-size: 44px;
    font-weight: 800;
    margin-bottom: 3rem;
    
}

.paragrafo{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #667085;
}

.dados{
    display: flex;
    justify-content: space-evenly;
    padding: 0 2rem 0 4rem;
    width: auto;
    height: auto;
    margin-bottom: 2rem;
}

.dados__container{
    margin-right: 40px;
    width: 280px;
    height: 192px;
}



.titulo__dados{
    font-size: 60px;
    font-weight: 600;
    color: #8E2424;
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.titulo__descricao{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1rem;
}
.paragrafo__dados{
    font-size: 16px;
    color: #667085;
    font-weight: 400;
    
}

.imagem{
    margin-top: 4rem;
}